@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: auto;
  margin-left: auto;
}

/* .col-7 {
  width: 66.66%;
  padding-left: 12px;
  padding-right: 12px;
} */

/* .col-5 {
  width: 33.33%;
  padding-left: 12px;
  padding-right: 12px;
} */

.row {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
 flex-wrap: wrap;

}

.w_100 {
  width: 100%;
}

.d-flex {
  display: flex;

}

.align_center {
  align-items: center;
}


.justify-center {
  justify-content: center;
}

.card {
  width: 329px;
  height: 418px;
  border-radius: 10px;
  background: #F3F5F6;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.00);
}

.padding_left {
  padding: 23px 14px 0px 14px;

}

.margin_left {
  margin-left: 37px;
}
.margin_bottom{
  margin-bottom: 20px;

}

.space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.pt {
  padding: 0px 22px 29px 0px;
}
.product_font{
  color: #232323;
  font-feature-settings: 'clig'off,
  'liga'off;
  font-family: 'Hind Siliguri';
  font-size: 36px;
  font-weight: 600;
}

.font_size {
  color: #232323;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
padding: 22px 14px 27px 14px;
}
.height{
  height: 100%;
}

.font_size1 {
  color: #9E3040;
  font-feature-settings: 'clig'off,
    'liga'off;
  font-family: 'Hind Siliguri';
  font-size: 24px;
  font-weight: 600;
}

.fs_12 {
  color: #686868;
  font-feature-settings: 'clig'off,
    'liga'off;
  font-family: 'Hind Siliguri';
  font-size: 16px;
  font-weight: 400;
  
}

.button {
color: #fff;
  flex-shrink: 0;
  border-radius: 5px;
  background: #232323;
}
.width{
  width: 100%;
 
}

.padding {
  padding: 8px 31px 8px 31px;
}
.pos_relative {
  position: relative;
}
.pb{
  padding-bottom: 50px;
}

.pos_ab{
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate();
}
.padding-bottom{
  padding-bottom: 0px;
}
.text_font{
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Hind Siliguri';
  font-size: 32px;
  font-weight: 600;
}
.text-center{
  text-align: center;
}
.margin_left{
  margin-left: 0px;
}
.col-12{
  width: 100%;
}
.pt_top{
  padding-top: 23px;
}
 .flex-column {
   flex-direction: column;
 }
 .mb{
  margin-bottom: 20px;
 }

@media (min-width:576px) {

  .margin_left {
    margin-left: 37px;
  }
  .margin_bottom {
    margin-bottom: 50px; }
    .mb {
      margin-bottom: 0px;
    }
    .padding-bottom {
      padding-bottom: 50px;
    }
    .pos_ab {
      position: absolute;
      top: 20%;
      left: 25%;
      transform: translate();
    }

}

@media (min-width:768px) {
  .text_font {
    font-size: 40px;
  }
  .pos_ab {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate();
  }
    .flex-column {
      flex-direction: unset;
    }

 

}
 @media (min-width:992px) {
   .text_font {
     font-size: 40px;
   }
   .width {
     width: 82%;

   }
   .pos_ab {
     position: absolute;
     top: 20%;
     left: 30%;
    
   }
  }
@media (min-width:1200px) {
  .col-xl-7{
    padding-left: 12px;
    padding-right: 12px;
    width: 58.67%;
  }
  .col-xl-5{
    padding-left: 12px;
    padding-right: 12px;
    width: 41.33%;
  }
  .pt_top{
    padding-top: 0px;
  }
  .text_font{
    font-size: 58px;
  }
    .width {
      width: 100%;

    }
    .pos_ab {
      position: absolute;
      top: 20%;
      left: 10%;
      
    }
  
  
}